<h2>Add new post</h2>

<p>
	<form action="/new" method="POST" role="form" style="width: 400px">
			<textarea name="content" class="form-control" rows="6" placeholder="Leave a post here" id="floatingTextarea"><%= @content %></textarea>
			<br />
			<button type="submit" class="btn btn-success">Submit</button>
	</form>
</p>





